/*
entonces se podria interpretar asi? libreria = comjunto de funciones reutilizables y framework = conjunto de librerias.
*conjunto
*/

body
{
    transition: smooth;
}

.medio
{
    height: 80%;
    background-color: black;
}

#contacto
{
    height: 50%;
}

p
{
    color: aqua;
}

/*
.izq, .mid, .der
{
    height: 100%;
    background-color: aquamarine;
}
*/
