*
{
    margin: 0;
    padding: 0;
}

.caja {
    border: 1px solid black;
    margin: 15px;
    text-align: center;
    background-color: chocolate;
}

.grid-layout {
    width: 70%;
    height: 0 auto;
    background-color: blueviolet;
    padding: 20px;
    border: 1px solid goldenrod;
    overflow: hidden;

    /* GRID */
    display: grid;
    /* Tamaño de los hijos con respecto al tamaño del padre */
    /* auto auto auto = 3 Columnas 
    1fr 1fr 1fr = fracciones
    50% 50%*/
    grid-template-columns: 50% auto 25%;
    /* Le quite el heigth a la Caja*/
    grid-template-rows: 50px auto 100px auto;
    justify-content: space-evenly;
}

.grid-layout2 {
    height: 600px;
    background-color: blueviolet;
    border: 1px solid goldenrod;
    overflow: hidden;

    /* GRID */
    display: grid;
    grid-template-rows: 15% 10% 50% 15% 10%;
    grid-template-areas: 'cabecera cabecera cabecera'
        'nav nav nav'
        'main main aside'
        'foto1 foto2 foto2'
        'footer footer footer';

    /* Le quite el heigth a la Caja*/

}


.c1 {
    grid-area: cabecera;
}

.c2 {
    grid-area: nav;
}

.c3 {
    grid-area: main;
}

.c4 {
    grid-area: aside;
}

.c5 {
    grid-area: footer;
}

.c6 {
    grid-area: foto1;
}

.c7 {
    grid-area: foto2;
}

@media (max-width: 480px) {
    .grid-layout2 {
        overflow: scroll;
        grid-template-areas: 'cabecera'
            'nav'
            'main'
            'aside'
            'foto1'
            'foto2'
            'footer';
    }

}


/*
.grid-layout2
{
    width: 70%;
    height: 0 auto;
    background-color: blueviolet;
    padding: 20px;
    border: 1px solid goldenrod;
    overflow: hidden;

    /* GRID */
/* display: grid;*/
/* Tamaño de los hijos con respecto al tamaño del padre */
/* auto auto auto = 3 Columnas 
    1fr 1fr 1fr = fracciones
    50% 50%*/
/*
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;*/
/* Le quite el heigth a la Caja*/
/*
}

*/
/*
.c1
{
    /* Tengo que activar GRID OVERLAY
    Hay estan los puntos enumerados de la linea.
    Podemos ORDENAR a los ELEMENTOS
    */
/*
    grid-column: 1/5;
}

.c2
{
    grid-column: 1/4;
}

.c3
{
    grid-column: 4/5;
    grid-row: 2/5;
}
*/